@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';

/// Glossary - used on glossary page
/// Overrides
/// See https://www.nice.org.uk/glossary for example

.nav-glossary {
  display: flex;
  flex-wrap: wrap;

  > li {
    margin-bottom: 2%;
    margin-right: 2%;
    width: 23%;

    &.active > a {
      background-color: colours.$nice-teal;
      color: colours.$nice-white;
    }

    > a {
      @include typography.font-size(4);
      background-color: colours.$nice-grey-3;
      color: colours.$nice-black;
      display: block;
      font-weight: bold;
      line-height: 1.5em;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: colours.$nice-teal;
        color: colours.$nice-white;
      }
    }
  }
}

#glossary-list {
  .media-list {
    @include typography.p;
    margin-top: utils.rem(spacing.$large);
  }

  .media-body {
    p {
      margin-bottom: 1rem;
    }
  }
}
