@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';

// Key links used to use NICE.Glyphs. Now use nice-icons instead
.key-link:before {
  @include nice-icon(chevron-right);
  @include typography.font-size(-2);
  color: inherit;
  font-weight: normal;
  margin: utils.rem(0 spacing.$small 0 0);
  text-decoration: none;
}
