.news-content {
  .blog-author {
    @include nds-font-size(h5);
    color: $nds-colour-nice-dark-grey;
    display: block;
    font-weight: normal;
    margin-top: rem($nds-spacing-small);
  }

  .date {
    color: $nds-colour-nice-dark-grey;
    margin-bottom: rem($nds-spacing-small);
    margin-top: 0;
  }

  .news-header {
    h1 {
      clear: none;
    }
  }

  img {
    height: auto; // Some CMS images have inline height/width attributes
    padding-right: em($nds-spacing-medium);
  }

  p:first-child {
    margin-top: 0;
  }
}
