%sorting-base {
  margin-right: rem($nds-spacing-small);
}

table {
  .sorting {
    &::before {
      @extend %sorting-base;
      @include nice-icon('sorting');
    }

    &_asc {
      &::before {
        @extend %sorting-base;
        @include nice-icon('sorting-asc');
      }

      &_disabled {
        &::before {
          @extend %sorting-base;
          @include nice-icon('sorting-asc');
          color: $nds-colour-nice-grey-1;
        }
      }
    }

    &_desc {
      &::before {
        @extend %sorting-base;
        @include nice-icon('sorting-desc');
      }

      &_disabled {
        &::before {
          @extend %sorting-base;
          @include nice-icon('sorting-desc');
          color: $nds-colour-nice-grey-1;
        }
      }
    }
  }
}
