@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';

%sorting-base {
  margin-right: utils.rem(spacing.$small);
}

table {
  .sorting {
    &::before {
      @extend %sorting-base;
      @include nice-icon('sorting');
    }

    &_asc {
      &::before {
        @extend %sorting-base;
        @include nice-icon('sorting-asc');
      }

      &_disabled {
        &::before {
          @extend %sorting-base;
          @include nice-icon('sorting-asc');
          color: colours.$nice-grey-1;
        }
      }
    }

    &_desc {
      &::before {
        @extend %sorting-base;
        @include nice-icon('sorting-desc');
      }

      &_disabled {
        &::before {
          @extend %sorting-base;
          @include nice-icon('sorting-desc');
          color: colours.$nice-grey-1;
        }
      }
    }
  }
}
