/// Timeline
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-technology-appraisal-guidance/process/mta-timeline
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/technology-appraisal-guidance/process/sta-timeline
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-technology-appraisal-guidance/process/sta-timeline-pre-april-2018
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/interventional-procedures-guidance/timeline
/// See https://www.nice.org.uk/standards-and-indicators/timeline-developing-quality-standards
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-technology-appraisal-guidance/charging/timelines-hst
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-medical-technologies-evaluation-programme/process-timeline
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-diagnostics-guidance/process-timeline
/// See https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-technology-appraisal-guidance/charging/timelines-ta

// Defines styles for < md viewports, and for when a single column timeline is required (e.g. here - https://www.nice.org.uk/about/what-we-do/life-sciences/scientific-advice)
@mixin flat-style-timeline {
  &:before {
    left: 40px !important; // required to override the margin below for desktop
  }

  .timeline-panel {
    float: right;
    width: calc(100% - 130px);

    &:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }

    &:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }

  .timeline-badge {
    left: 16px;
    margin-left: 0;
    top: 16px;
  }
}

.timeline {
  list-style: none;
  max-width: 100% !important;
  position: relative;
  max-width: 100% !important;

  &--flat {
    @include flat-style-timeline;
  }

  // this is the line that goes down the centre of the timeline badges
  &:before {
    background-color: $nds-colour-nice-grey-2;
    bottom: 0;
    content: '';
    left: 50%;
    margin-left: -(rem($nds-spacing-xx-small));
    position: absolute;
    top: 0;
    width: rem($nds-spacing-x-small);
  }

  > li {
    @include nds-clearfix;
    margin-bottom: rem($nds-spacing-medium);
    position: relative;
  }
  @include mq($until: md) {
    @include flat-style-timeline;
  }
}

.timeline-inverted {
  .timeline-panel {
    float: right;

    &:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }

    &:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }
}

.timeline-panel {
  background: $nds-colour-nice-white;
  border: 1px solid $nds-colour-nice-grey-2;
  border-radius: 2px;
  box-shadow: none !important;
  float: left;
  padding: rem(20px);
  position: relative;
  width: 42%;

  &:before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid $nds-colour-nice-grey-2;
    border-right: 0 solid $nds-colour-nice-grey-2;
    border-top: 15px solid transparent;
    content: '';
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 26px;
  }

  &:after {
    border-bottom: 14px solid transparent;
    border-left: 14px solid $nds-colour-nice-white;
    border-right: 0 solid $nds-colour-nice-white;
    border-top: 14px solid transparent;
    content: '';
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 27px;
  }
}

.timeline-title {
  margin-top: 0;
}

.timeline-badge {
  background-color: $nds-colour-nice-grey-1;
  border-radius: 50%;
  color: $nds-colour-nice-white;
  height: 50px;
  left: 50%;
  line-height: 50px;
  margin-left: -25px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 50px;
  z-index: 100;

  small {
    @include nds-font-size(p);
  }

  &.primary {
    background-color: $nds-colour-info !important;
  }

  &.success {
    background-color: $nds-colour-success !important;
  }

  &.warning {
    background-color: $nds-colour-caution !important;
  }

  &.danger {
    background-color: $nds-colour-error !important;
  }

  &.info {
    background-color: $nds-colour-info !important;
  }
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
