@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/media-queries';

// Hide the 'my account button' with the assumption that comms can add this in manually into the page outside the Trac snippet
#hj-account-menu {
  display: none;
}

#hj-loading-section {
  display: none;
}

.hj-alert {
  @include typography.font-size(p);
  border: 1px solid;
  font-weight: bold;
  margin-bottom: utils.rem(spacing.$medium);
  padding: utils.rem(spacing.$medium);

  p {
    font-weight: bold;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.hj-alert-info {
    background-color: colours.$info-background;
    border-color: colours.$info;
  }

  &.hj-alert-warning {
    background-color: colours.$caution-background;
    border-color: colours.$caution;
  }

  &.hj-alert-danger {
    background-color: colours.$error-background;
    border-color: colours.$error;
  }
}

.hj-sorter {
  .form-group {
    align-items: center;
    border: 0;
    display: flex;
    padding: 0;
  }

  label {
    margin-right: utils.rem(spacing.$medium);
  }

  select {
    margin: 0;
  }
}

.hj-job-list {
  ol {
    list-style: none;
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.hj-job {
  border-bottom: 1px solid colours.$border;
  margin-bottom: utils.rem(spacing.$medium);
  padding-bottom: utils.rem(spacing.$medium);

  a {
    text-decoration: none;
  }
}

.hj-jobtitle {
  @include typography.link-default;
  @include typography.font-size(1);
  font-weight: 600;
  margin-bottom: utils.rem(spacing.$small);
}

.hj-job-details {
  @include typography.font-size(-1);
  color: colours.$card-metadata;
  display: flex;
  flex-direction: column;

  .hj-job-detail,
  .hj-warning {
    display: flex;
    margin: utils.rem(0 spacing.$medium spacing.$x-small 0);
  }

  .hj-locationtown,
  .hj-salary {
    display: none;
  }

  .hj-closingdate {
    order: 0;
  }

  .hj-empjobref {
    order: 5;
  }

  .hj-field-caption {
    margin-right: utils.rem(spacing.$small);
  }

  @include media-queries.mq($from: md) {
    flex-flow: row wrap;
  }
}
