/// Accordion- used on NICE field team page
/// Overrides
/// See https://www.nice.org.uk/about/what-we-do/into-practice/nice-field-team for example
// sass-lint:disable

.accordion {

  .accordion-group {
    background: $nds-colour-panel-default-background;
    margin-bottom: rem($nds-spacing-small);
  }

  .accordion-heading {
    margin: 0;

    a {
      @include nds-font-size(h5);
      display: block;
      padding: rem($nds-spacing-small);
      text-decoration: none;
    }
  }

  .accordion-inner {
    padding: rem($nds-spacing-medium) rem($nds-spacing-large) rem($nds-spacing-medium) rem($nds-spacing-medium);

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.accordion-toggle {
  @include nds-font-size(h5);
  display: block;
  padding: rem($nds-spacing-small);
  text-decoration: none;

  &:before {
    // Sometimes accordion toggles can be key-links so avoid the extra chevron
    display: none !important; // sass-lint:disable-line no-important
  }

  &:after {
    @include nice-icon(chevron-down);
    float: right;
  }
}
