// Single blog items listed on news / blog page

.blog-item {
  margin-bottom: em($nds-spacing-medium) !important; // sass-lint:disable-line no-important

  h4 {
    @include nds-font-size(h5);
    margin-top: 0;
  }

  .text-block {

    p:first-child {
      color: $nds-colour-nice-dark-grey;
      @include nds-font-size(-1);
      margin: rem($nds-spacing-small 0 $nds-spacing-x-small 0);
    }

    small {
      color: $nds-colour-nice-dark-grey;
      display: block;
      @include nds-font-size(-1);
      margin: rem($nds-spacing-x-small 0 $nds-spacing-x-small 0);
    }

    .abstract {
      margin: rem($nds-spacing-small 0 $nds-spacing-x-small 0);
    }
  }
}
