.blog-item {
  .text-block {
    p:first-child {
      @include font-size(-1);
      margin: rem($spacing-small 0 $spacing-x-small 0);
      color: $colour-nice-dark-grey;
    }
    small.muted {
      display: block;
      @include font-size(-1);
      color: $colour-nice-dark-grey;
      margin: rem($spacing-x-small 0 $spacing-x-small 0);
    }
    p.abstract {
      margin: rem($spacing-small 0 $spacing-x-small 0);
    }
  }
}
