/// Glossary - used on glossary page
/// Overrides
/// See https://www.nice.org.uk/glossary for example
// sass-lint:disable

.nav-glossary {
  @include nds-clearfix;
  display: flex;
  flex-wrap: wrap;
  & > li {
    margin: 0 1% 2%;
    width: 23%;
    &.active > a {
      background-color: $nds-colour-nice-teal;
      color: $nds-colour-nice-white;
    }
    & > a {
      @include nds-font-size(4);
      background-color: $nds-colour-nice-grey-3;
      color: $nds-colour-nice-black;
      display: block;
      font-weight: bold;
      line-height: 1.5em;
      text-align: center;
      text-decoration: none;
      &:hover {
        background-color: $nds-colour-nice-teal;
        color: $nds-colour-nice-white;
      }
    }
  }
}

#glossary-list {
  .media-list {
    @include nds-p;
    margin-top: rem($nds-spacing-large);
  }
}
