// Copy of the old Bootstrap grid from v2
.row, .row-fluid {
  @include clearfix();
  width: 100%;

  [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }

  @include mq($from: sm) {

    [class*="span"] {
      float: left;
      margin-left: 2.12765957%;
      min-height: 40px;

      &:first-child {
        margin-left: 0;
      }
    }

    // Magic percentages taken from old Bootstrap
    .span1 { width: 6.38297872%; }
    .span2 { width: 14.89361702%; }
    .span3 { width: 23.40425532%; }
    .span4 { width: 31.91489362%; }
    .span5 { width: 40.42553191%; }
    .span6 { width: 48.93617021%; }
    .span7 { width: 57.44680851%; }
    .span8 { width: 65.95744681%; }
    .span9 { width: 74.46808511%; }
    .span10 { width: 82.9787234%; }
    .span11 { width: 91.4893617%; }
    .span12 { width: 100%; }
  }
}
