/// Guidance pills - navigation structure used for find guidance page.
/// Overrides styling from _nav-grid.
/// See https://www.nice.org.uk/guidance
/// See https://github.com/nhsevidence/niceorg/blob/master/src/Orchard.Web/Themes/NICE.Bootstrap/Styles/nice/NICE.guidance.less#L687-L790
// sass-lint:disable no-ids
#guidancehome-pills {
  margin: rem($spacing-medium 0 $spacing-large);

  a {
    background: $colour-panel-inverse;
    color: $colour-text-inverse;
    display: block;
    padding: rem($spacing-medium);
    position: relative;
    text-decoration: none;

    &:hover {
      background: $colour-nice-rich-black;
    }

    &:active {
      top: rem($spacing-xx-small);
    }
  }
}
