/// Used for featured news article on the new homepage
/// Adapted from an old NICE.Bootstrap component
/// See http://nhsevidence.github.io/NICE.Bootstrap/Guide.BasicElements.html#typographic-headers
.hero-unit {
  @include links-inverse;
  background: $colour-nice-cool-teal;
  color: $colour-text-inverse;
  margin-bottom: em($spacing-large);
  padding: em($spacing-large);
  // TODO

  .hero-image {

  }
}
