/// List of media items, taken from NICE.Bootstrap
/// See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Scaffolding.html#media-list
.media-list {
  list-style: none;
  margin-left: 0;
}

/// Media object - used for displaying news etc.
/// Taken from NICE.Bootstrap
/// See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Scaffolding.html#media
.media {
  border-bottom: 1px solid $colour-border;
  padding-bottom: em($spacing-medium);

  &.no-border {
    border: 0;
  }

  // sass-lint:disable no-combinators
  > .pull-left {
    margin-right: em($spacing-medium);
  }

  // TODO
}
