/// Number links is a grid of links with a number and text.
/// The number is larger font and the text small, with an optional small
/// E.g. 32 New (in last 6 monts)
.number-links {
  @include grid;
  list-style: none;
  margin-bottom: rem($spacing-medium);
  margin-top: 0;
  padding: 0;

  &__item {
    @include grid-item;
    margin-bottom: rem($spacing-small);
    width: 100%;
  }

  @include mq($from: sm) {
    &__item {
      width: 50%;
    }
  }
}

.number-link {
  display: block;
  padding: rem($spacing-x-small);
  text-decoration: none;

  &__number {
    @include font-size(3);
    color: $colour-icons;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    margin-right: rem($spacing-x-small);
    min-width: rem($spacing-large);
    text-align: center;
    vertical-align: middle;
  }

  &__text {
    vertical-align: middle;

    small {
      color: $colour-text;
      display: inline-block;
      margin-left: rem($spacing-small);
      text-decoration: none;
    }
  }

  @include when-is('a') {

    &:hover {
      background: $colour-nice-grey-2;
    }

    .number-link__text {
      text-decoration: underline;
    }
  }
}
