// Specific type of panel from old bootstrap
.panel {

  // Elements

  // sass-lint:disable no-combinators
  > .panel {
    margin-top: 0;
  }

  // Negative margins are to offset the default padding that panels have from the Design System
  .panel-heading {
    border-bottom: 1px solid $colour-border;
    margin: rem((-$spacing-medium) (-$spacing-medium) 0 (-$spacing-medium));
    padding: rem($spacing-small $spacing-medium);

    h3 {
      @include font-size(h4);
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .panel-title {
    @include font-size(3);
    margin: 0;
  }

  .panel-body {
    @include clearfix;
    margin: rem(0 (-$spacing-medium) (-$spacing-medium) (-$spacing-medium));
    padding: rem($spacing-medium);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .panel-footer {
    padding: rem(0 $spacing-large $spacing-large $spacing-large);
  }

  // Modifiers

  // Contextual panel alternatives
  // See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Scaffolding.html#panels-alternatives
  &.panel-default { background: $colour-panel-default; }

  &.panel-success {
    .panel-heading {
      background: #dff0d8;
      color: #468847;
    }
  }
}
