// TopHat overrides
// Niceorg specific TopHat overrides e.g. full width search bar
.nice-tophat .nice-search {
  float: none;
  margin: em($spacing-medium) auto;
  width: 100%;

  input {
    height: rem(50);

    &::placeholder {
      color: $colour-nice-grey-1;
      font-style: italic;
      opacity: 1;
    }
  }

  // Submit search btn
  button {
    cursor: pointer;
    height: rem(50);
    width: rem(50);
  }
}
