.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in {
    opacity: 1;
  }
}

.collapse {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .35s ease;
  @media (prefers-reduced-motion: reduce) {
    transition-timing-function: step-start; // BS seems to rely on a transition to happen to trigger the close state so transition: none; won't cut it
  }
  &.in {
    height: auto;
  }
  &:not(.in) > * {
    display: none;
  }
}
