/// Utility classes, adapted from NICE.Bootstrap

/// Float an element left
/// See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Scaffolding.html#helper-classes
.pull-left {
  float: left;
}

/// Float an element right
/// See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Scaffolding.html#helper-classes
.pull-right {
  float: right;
}


// CSS triangle, often used within dropdowns
.caret {
  border-left: rem($spacing-small) solid transparent;
  border-right: rem($spacing-small) solid transparent;
  border-top: rem($spacing-small) solid $colour-nice-white;
  content: '';
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
}
