
@media print {
  h1 {
    margin-bottom: 0;
  }
  img,
  .panel {
    break-inside: avoid;
  }
  div.nav-links,
  ul.breadcrumb,
  .no-print,
  .infogram-embed {
    display: none !important;
  }
  header.container {
    margin-bottom: 0;
  }
}

